<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="HostAddress" value="192.168.0.153"/>
    <add key="PortNumber" value="100"/>
    <add key="UseProxy" value="false"/>
  </appSettings>
</configuration>
